[submodule "vendor/github.com/hanwen/go-fuse"]
	path = vendor/github.com/hanwen/go-fuse
	url = https://github.com/hanwen/go-fuse.git
[submodule "vendor/gopkg.in/cheggaaa/pb.v1"]
	path = vendor/gopkg.in/cheggaaa/pb.v1
	url = https://github.com/cheggaaa/pb.git
[submodule "vendor/github.com/mattn/go-runewidth"]
	path = vendor/github.com/mattn/go-runewidth
	url = https://github.com/mattn/go-runewidth.git
[submodule "vendor/github.com/etcd-io/bbolt"]
	path = vendor/github.com/etcd-io/bbolt
	url = https://github.com/etcd-io/bbolt.git
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
