#!/usr/bin/make -f
#
# Copyright btrfscue authors
# SPDX-License-Identifier: BSD-2-Clause
#
# Rules file for Debian packaging using dh

HOME_DIR := $(shell getent passwd $$(id -u) | cut -d: -f6)
export GOMODCACHE = $(HOME_DIR)/go/pkg/mod
export GOCACHE = $(HOME_DIR)/.cache/go-build

%:
	dh $@

# We override dh_auto_install so that it doesn't try to run 'make install',
# since our Makefile does not have an 'install' target. The files are
# instead installed via debian/btrfscue.install.
override_dh_auto_install:
	# Do nothing

# dwz fails on Go binaries due to compressed debug sections.
override_dh_dwz:
	# Do nothing
